@font-face {
  font-family: morgan;
  src: url(./assets/fonts/morganposteravec_bold-webfont.woff);
}
h1,
h2,
h3 {
  font-family: morgan;
  margin: 0.3em;
}
h1 {
  opacity: 0.7;
  font-size: 3rem;
}
h2 {
  opacity: 0.5;
  font-size: 1.75rem;
}
p {
  opacity: 0.75;
  font-size: 1.1rem;
}
body {
  background: rgb(6 39 77);
}
header {
  margin: 90px auto 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(248, 248, 248);
  margin: 0 auto;
  width: 50%;
}
.progress-bar {
  width: 50%;
  margin-top: 2em;
}
.border {
  border: 1px solid;
  width: 55%;
  margin: 0 auto;
  opacity: 0.15;
}
.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.player-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.player-item:hover {
  cursor: pointer;
}
.player-item:hover .image-container {
  width: 80px;
}
.player-item p {
  font-size: 0.9rem;
}
.image-container {
  margin: 0 -5px;
  width: 75px;
  background-color: rgb(240, 240, 240);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
}
.player-item img {
  max-width: 100%;
}
.points-container {
  margin: 0px auto;
  width: 45px;
  height: 45px;
  background-color: rgb(240, 240, 240);
}
.points-container,
.points-container p {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(217 206 206);
}
.points-container p {
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  font-family: morgan;
  background-color: rgb(255, 255, 255);
}
.pts {
  margin: 2px;
}
.button-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5em;
  flex-wrap: wrap;
}
button {
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  border: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px 1px;
  margin: 0 1em;
  padding: 1em 3.5em 1em 2em;
}
.button-list button img {
  max-width: 25px;
  margin-right: 1em;
}
button h4 {
  margin: 0;
  opacity: 0.65;
  font-size: 1.3em;
}
.bottom {
  margin: 1em 0 2.5em;
}
.bottom .border {
  width: 100%;
}
.bottom p {
  opacity: 0.5;
}
.download-btn img {
  max-width: 125px;
  margin: 0 1em;
}
footer {
  color: rgb(161, 161, 161);
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  align-items: center;
  justify-content: center;
}
footer > * {
  color: rgb(161, 161, 161);
}
footer > a {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0.5em;
  text-decoration: none;
}
.modalBackdrop {
  background: rgb(255 255 255 / 87%);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: var(--darker);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}
.modalContainer img {
  max-width: 100%;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }
}
@media screen and (max-width: 575px) {
  .button-list button {
    margin: 1em;
  }
}
